allow mm-qcamerad proc_appinfo:file r_file_perms;
allow mm-qcamerad self:tcp_socket { bind create setopt };
allow mm-qcamerad system_data_file:dir w_dir_perms;
