type oeminfo, domain;
type oeminfo_exec, exec_type, file_type;
type oeminfo_partition_device, dev_type;
init_daemon_domain(oeminfo)

allow oeminfo oeminfo_partition_device:blk_file rw_file_perms;
allow oeminfo properties_device:dir r_dir_perms;
allow oeminfo block_device:dir search;

# ioctlcmd=c304
allow oeminfo self:socket create_socket_perms;
allowxperm oeminfo self:socket ioctl msm_sock_ipc_ioctls;
