# Copyright (c) 2009-2012, 2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on post-fs
    # Symbols required for huawei blobs
    export LD_SHIM_LIBS "/system/lib/libcutils.so|libshim_cutils.so"

on boot

    start hw_test_diag
    start rmt_oeminfo
    start libqmi_oem_main
    start oeminfo_server

    # charger
    chown root system /sys/class/power_supply/bms/current_now
    chown root system /sys/class/power_supply/bms/voltage_ocv
    chmod 0664 /sys/class/power_supply/bms/current_now
    chmod 0664 /sys/class/power_supply/bms/voltage_ocv

    # leds
    chown system system /sys/class/leds/red/brightness
    chmod 0664 /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chmod 0664 /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chmod 0664 /sys/class/leds/blue/brightness

    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128

    # touchscreen
    chown system system /sys/touch_screen/glove_func/signal_disparity
    chown system system /sys/touch_screen/easy_wakeup_gesture

    # NFC
    setprop ro.nfc.port "I2C"
    chmod 0660 /dev/pn544
    chown nfc nfc /dev/pn544

on post-fs
    swapon_all /fstab.qcom
    write /proc/sys/vm/page-cluster 0

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    chown root system /sys/class/power_supply/bms/current_now
    chown root system /sys/class/power_supply/bms/voltage_ocv
    chmod 0664 /sys/class/power_supply/bms/current_now
    chmod 0664 /sys/class/power_supply/bms/voltage_ocv
    start vm_bms

service vm_bms /system/bin/vm_bms
    class core
    user root
    group root

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    setenv LD_PRELOAD /vendor/lib/libqcamerasvr-c++.so
    writepid /dev/cpuset/system-background/tasks

service hw_test_diag /system/bin/hw_test_diag
    user root
    disabled

service rmt_oeminfo /system/bin/rmt_oeminfo
    class core
    user root
    disabled

service libqmi_oem_main /system/bin/libqmi_oem_main
    class core
    user root
    disabled

service oeminfo_server /system/bin/oeminfo_server
    class core
    user root
    disabled
